{% extends 'wssbase.html' %}
{% load crispy_forms_tags %}{% load static %}
{% block title %}ثبت‌نام اولیه{% endblock %}
{% block content %}
    <section id="main-container" class="main-container fluid pb-5"
             style="padding: 10vw 0 0 0">
        <div class="container py-5" style="background-color: rgba(255,255,255,0.1); -webkit-border-radius: 2rem;-moz-border-radius: 2rem;border-radius: 2rem;">
                <div class="text-right alert alert-info" style="direction: rtl">
                    <br>مدرسه‌ی کشوری تابستانه‌ی علوم کامپیوتر به صورت کشوری در اصفهان و تهران در سه روز برگزار می‌شود. اطلاعات بیشتر و دقیق از هزینه‌ها و دیگر مسائل رویداد را در این <a target="_blank" style="color: var(--sorkhabi)" href="{% static 'intro.pdf' %}">فایل</a> بخوانید.
دقت کنید این رویداد نیاز به پیش‌نیاز علمی نداشته و صرف خلاقیت شما کافی‌است. چه المپیادی باشید و چه غیر المپیادی با مسائلی روبه‌رو خواهید شد که برایتان جدید و جذاب است.<br>
مراحل ثبت نام به صورت زیر است :<br>
۱- ابتدا <a style="color: var(--sorkhabi)" href={% static 'preregistration.pdf' %}>فایل سوالات</a> را دانلود ‌کنید. سوالات جنبه‌ی آشنایی با شما را دارد و امکان دارد برایتان سخت جلوه کند، بدانید این شرایط برای همگان یکسان است. در سوال اول و دوم به دنبال جواب آخر نبوده و ایده‌های شما مهم است. در واقع کافیست به آن اندکی فکر کرده باشید و روند آن فکر را بنویسید و نه بیشتر. در سوال سوم که مهم‌ترین سوال ماست، سعی کنید هر انگیزه و هدفی در آینده‌ی خود متصور هستید را برای ما بنویسید. شوق خود برای یادگیری و داستان زندگی‌‌تون رو با ما به اشتراک بذارید.<br>
۲- فایل docx یا Pdf جوابتون رو به همراه اطلاعات شخصی در همین صفحه ثبت کنید. ( مهلت ثبت نام تا ۲۰ مرداد)<br>
۳- ما پس از بررسی ظرفیت و ثبت‌نامی‌ها اسامی پذیرفته‌شدگان رو اعلام می‌کنیم.<br>
۴- و تا ۲۵ مرداد برای اصفهان و ۳۰ مرداد برای تهران فرصت دارید که ثبت‌نامتون رو با پرداخت هزینه قطعی کنید.<br>
* دقت شود هزینه‌ی تهران ۲۳۰ و هزینه‌ی اصفهان ۲۰۰ هزارتومان است که با حمایت مالی صورت گرفته، این هزینه به ۱۳۵ هزارتومان برای تهران و ۱۲۰ هزار تومان برای اصفهان رسیده است. ( موارد هزینه در فایل توضیحات در ابتدای همین متن آمده است.)
                    دقت کنید که این ثبت‌نام اولیهٔ شما برای مدرسه تابستانه است. <br>در مرحله‌ی اول ابتدا <a style="color: var(--sorkhabi)" href={% static 'preregistration.pdf' %}>فایل سوالات</a> را دریافت، آن‌ها را با خلاقیت خود حل کرده و برای‌مان در فرم زیر به همراه اطلاعات خود بارگذاری کنید. دقت کنید که این سوالات صرفا جنبه آشنایی با شما دارد و سوال سوم از باقی سوالات اهمیت بیشتری دارد. هم‌چنین در سوال اول، این روش و ایده شما برای سوال است که اهمیت دارد و پاسخ دقیقی برای آن نمی‌خواهیم. <br>پس از پایان مرحله اول ثبت‌نام، با توجه شرایط و ظرفیت مدارس هم‌چنین پاسخ ارسالی شما، افراد واجد شرایط برای حضور در مدرسه اطلاع‌رسانی خواهد شد.<br>
                    هم‌چنین در صورتی که برای مدرسه اصفهان متقاضی خوابگاه هستید، <a style="color: var(--sorkhabi)" href={% static 'شیوه‌نامه خوابگاه.pdf' %} >این فایل</a> را حتما مطالعه کنید.
                <br>امیدواریم شما را در یکی از مدارس امسال ببینیم :)
                    هم‌چنین در صورتی که در روزهای مدرسه تابستانه، کلاس‌های مدرسه را دارید،‌ با ادمین کانال تلگرامی <span style="color: var(--sorkhabi)">(CSSS_Admin@)</span> ارتباط برقرار کنید تا در مورد حضور شما هماهنگی‌های لازم صورت گیرد.
                </div>
            <form class="registration-form" dir="rtl" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-success">ارسال</button>
            </form>
        </div>
    </section>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('.controls').addClass("form-group");
        $('#id_captcha_1').addClass("form-control");
    });

</script>
{% endblock %}