{% extends 'wssbase.html' %}
{% load crispy_forms_tags %}{% load static %}
{% block title %}ثبت‌نام اولیه{% endblock %}
{% block content %}
    <section id="main-container" class="main-container fluid pb-5"
             style="padding: 10vw 0 0 0">
        <div class="container py-5" style="background-color: rgba(255,255,255,0.1); -webkit-border-radius: 2rem;-moz-border-radius: 2rem;border-radius: 2rem;">
                <div class="text-right alert alert-info" style="direction: rtl">
                    دقت کنید که این ثبت‌نام اولیهٔ شما برای مدرسه تابستانه است. در مرحله‌ی اول ابتدا <a style="color: var(--sorkhabi)" href={% static 'preregistration.pdf' %}>فایل سوالات</a> را دریافت، آن‌ها را با خلاقیت خود حل کرده و برای‌مان در فرم زیر به همراه اطلاعات خود بارگذاری کنید.پس از پایان مرحله اول ثبت‌نام، با توجه شرایط و ظرفیت مدارس هم‌چنین پاسخ ارسالی شما، افراد واجد شرایط برای حضور در مدرسه اطلاع‌رسانی خواهد شد.<br>
                    هم‌چنین در صورتی که برای مدرسه اصفهان متقاضی خوابگاه هستید، <a style="color: var(--sorkhabi)" href={% static 'شیوه‌نامه خوابگاه.pdf' %} >این فایل</a> را حتما مطالعه کنید.
                <br>امیدواریم شما را در یکی از مدارس امسال ببینیم :)
                </div>
            <form class="registration-form" dir="rtl" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-success">ارسال</button>
            </form>
        </div>
    </section>
{% endblock %}
