{% extends 'base.html' %}
{% block title %}{{ wss }}{% endblock %}

{% block navbar_items %}
    <!-- Home li end -->
    <li><a href="{% url 'wss:home'%}">صفحه اصلی</a></li>
    <!-- Speakers li end -->
    <li><a href="{% url 'wss:staff-list' wss.year %}">دست‌اندرکاران</a></li>
    <!-- Schedule li end -->
    <li><a href="{% url 'wss:schedule' wss.year %}">زمان‌بندی</a></li>
    <!-- Staff li end -->
    <li><a href="{% url 'wss:seminars-list' wss.year %}">ارائه‌دهندگان</a></li>

    <!-- Gallery li end -->
    {% if wss.is_active %}
        {% if wss.registration_link %}
            <li class="header-ticket">
                <a class="btn-registration" style="border-radius: 25px;" href="{{ wss.registration_link }}">ثبت‌نام</a>
            </li>
        {% endif %}
    {% else %}
        <li class="header-ticket">
            <a href="{% url 'wss:home' %}" class="ticket-btn btn-primary">Visit the Latest seminar page</a>
        </li>
    {% endif %}
{% endblock %}

{% block footer_menu_items %}
    <li><a href="{% url 'wss:home' wss.year %}">Home</a>
    </li>
    {% if wss.is_active %}
        {% if wss.registration_link %}
            <li class="header-ticket">
            <li><a href="{{ wss.registration_link }}">Register</a>
            </li>
        {% endif %}
    {% else %}
        <li><a href="{% url 'wss:home' %}">Visit the Latest seminar page</a></li>
    {% endif %}
{% endblock %}