{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}
{% block header %}
    <!-- Header start -->
    <header id="header" class="header header-transparent">
        <div class="container">
            <div class="row">
                <div class="site-nav-inner">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right">
                        <ul class="nav navbar-nav" dir="rtl" style="direction: rtl!important;">

                            <li><a href="{% url 'wss:home' %}">صفحه اصلی</a></li>
                            <li><a data-scroll href="{% url 'wss:staff-list' wss.year %}">دست‌‌اندرکاران</a></li>
                            <li><a href="{% url 'wss:schedule' wss.year %}">زمان‌بندی</a>
                            <li><a href="{% url 'wss:seminars-list' wss.year %}">کارگاه‌ها</a></li>
                            </li>
                            <li><a href="#ts-intro">درباره</a></li>
                            {% if wss.is_active %}
                                {% if wss.registration_link %}
                                    <li class="header-ticket">
                                        <a class="btn-registration" style=" border-radius: 25px;"
                                           href="{{ wss.registration_link }}">ثبت‌نام اولیه</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="header-ticket">
                                    <a href="{% url 'wss:home' %}" class="btn btn-danger">Visit the Latest
                                        seminar page</a>
                                </li>
                            {% endif %}
                            <!-- Register li end -->
                        </ul>
                        <!--/ Nav ul end -->
                    </nav>
                    <!--/ Collapse end -->
                </div>
                <!--/ Site nav inner end -->
            </div>
            <!--/ Row end -->
        </div>
        <!--/ Container end -->

    </header>
{% endblock %}
<!--/ Header end -->
{% block content %}
    <section id="banner">
        <div class="banner-item bg-overlay" style="background-image:url('{{ wss.main_image_url }}')">
            <div class="container-fluid">
                <div class="banner-content text-center">

                    <div class="col-md-offset-9 col-md-pull-9">
                        <h1 class="banner-title mr-md-5">
                            مدرسه تابستانه علوم کامپیوتر</h1>
                    </div>
                    <div class="row">
                        <div class="vertical-center col-md-3  ml-md-5 mt-5 mt-md-0">
                            <h3 class="banner-desc " style="text-shadow: 0px 0px 3px black;" dir="rtl">۳۱ مرداد - ۲
                                شهریور،
                                خانه ریاضیات اصفهان</h3>
                            <h3 class="banner-desc" style="text-shadow: 0px 0px 3px black;" dir="rtl">۵ - ۷ شهریور،
                                دانشگاه
                                صنعتی شریف</h3>
                        </div>

                    </div>
                    {% if wss.is_active %}
                        <div id="div-timer" class="row mt-md-0">
                            <div class="timerCarousel col-md-8 col-md-offset-2">
                                <div class="carousel-item">
                                    <div class="mb-4">مانده تا شروع دوره‌ی تهران</div>
                                    <div class="countdown countdown-teh bg-style">
                                        <div class="counter-day ">
                                            <span class="days">00</span>
                                            <div class="smalltext">روز</div>
                                        </div>
                                        <div class="counter-hour">
                                            <span class="hours">00</span>
                                            <div class="smalltext">ساعت</div>
                                        </div>
                                        <div class="counter-minute">
                                            <span class="minutes">00</span>
                                            <div class="smalltext">دقیقه</div>
                                        </div>
                                        <div class="counter-second">
                                            <span class="seconds">00</span>
                                            <div class="smalltext">ثانیه</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="mb-4">مانده تا شروع دوره‌ی اصفهان</div>
                                    <div class="countdown countdown-isf bg-style">
                                        <div class="counter-day ">
                                            <span class="days">00</span>
                                            <div class="smalltext">روز</div>
                                        </div>
                                        <div class="counter-hour">
                                            <span class="hours">00</span>
                                            <div class="smalltext">ساعت</div>
                                        </div>
                                        <div class="counter-minute">
                                            <span class="minutes">00</span>
                                            <div class="smalltext">دقیقه</div>
                                        </div>
                                        <div class="counter-second">
                                            <span class="seconds">00</span>
                                            <div class="smalltext">ثانیه</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Countdown end -->

                    <input type="hidden" value="{{ wss.start_date_isf|date:'m/d/Y' }}" id="start-date-isf">
                    <input type="hidden" value="{{ wss.start_date_teh|date:'m/d/Y' }}" id="start-date-teh">

                    {% if wss.is_active %}
                        {% if wss.registration_link %}
                            <p class="banner-btn">
                                <a href="{{ wss.registration_link }}" class="btn btn-warning" dir="rtl"
                                   style=" font-size: 20px; border-radius: 25px;">
                                    ثبت‌نام کنید!
                                </a>
                            </p>
                        {% endif %}
                        <p class="banner-btn">
                            <a target="_blank" href='{% static 'preregistration.pdf' %}' class="btn btn-registration"
                               dir="rtl"
                               style="); font-size: 20px; border-radius: 25px;">
                                سوالات ثبت‌نام اولیه
                            </a>
                        </p>
                    {% endif %}
                    <!-- Banner content wrap end -->
                </div>
                <!-- Banner content end -->
            </div>
            <!-- Container end -->
        </div>
        <!-- Banner item end -->
    </section>
    <!-- Section banner end -->

    <section id="ts-intro" class="ts-intro no-padding">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6" dir="rtl" style="direction: rtl!important; float: right;">

                    <h2 class="intro-title">درباره این رویداد</h2>
                    </br>
                    <p class="intro-desc" dir="rtl">{{ wss.description }}</p>
                    </br>
                    {% if wss.is_active %}
                        <p>
                            {% if wss.proposal_link %}
                                <a href="{{ wss.proposal_link }}" class="btn btn-primary">Submit your proposal</a>
                            {% endif %}
                        </p>
                    {% else %}
                        <h2 class="intro-title">This is not the last WSS!</h2>
                        <a href="{% url 'wss:home' %}" class="btn btn-primary">Visit the Latest seminar page</a>
                    {% endif %}
                </div>
                {% if wss.main_clip_url %}
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="intro-video">
                            <video controls class="embed-responsive-item" src="{{ wss.main_clip_url }}" preload="none">
                            </video>
                        </div>
                    </div>
                {% endif %}


                <!-- Col end -->

                <!-- Content row 1 end -->
            </div>
        </div>
        <!-- Container end -->
    </section>
    <!-- Intro area end -->

    <section id="ts-statics" class="ts-statics">
        <div class="container">
            <div class="row">
                <div class="statics clearfix">
                    <div class="col-sm-6 text-center">
                        <a data-scroll href="#ts-speakers">
                            <div class="ts-facts">
                        <span class="ts-facts-img mr-5">
                        <img src="{% static 'images/icons/fact-workshop.png' %}" alt=""/>
                        </span>
                                <div class="ts-facts-content">
                                    <h2 class="ts-facts-num"><span class="counterUp">{{ wss.seminars.count }}</span>
                                    </h2>
                                    <h3 class="ts-facts-title">کارگاه‌ها</h3>
                                </div>
                            </div>
                        </a>
                        <!--Facts end -->
                    </div>

                    <!-- Col end -->
                    <div class="col-sm-6 text-center">
                        <a data-scroll href="{% url 'wss:staff-list' wss.year %}">
                            <div class="ts-facts">
                        <span class="ts-facts-img mr-5">
                        <img src="{% static 'images/icons/fact-country.png' %}" alt="Staff"/>
                        </span>
                                <div class="ts-facts-content">
                                    <h2 class="ts-facts-num"><span class="counterUp">{{ wss.staff_count }}</span></h2>
                                    <h3 class="ts-facts-title">دست‌اندرکاران</h3>
                                </div>
                            </div>
                        </a>
                        <!--Facts end -->
                    </div>
                    <!-- Col end -->
                </div>
                <!-- Statics end -->
            </div>
            <!-- Row end -->
        </div>
        <!--/ Container end -->
    </section>
    <!--/ Newsletter end -->
    <section id="ts-speakers" class="ts-speakers gradient-bg pb-5">
        <div class="container">
            <!--/ Title row end -->
            <div class="row">

                <div class="row text-center">
                    <h3 class="section-sub-title title-white"
                        style="text-shadow: 0px 0px 5px gray; color: var(--main-yellow)">
                        کارگاه‌ها</h3>
                </div>

                <div class="row text-center mx-2" dir="rtl">
                    {% for seminar in wss.non_keynote_seminars %}
                        <div class="col-xs-12 col-sm-6 col-md-3"
                             {% if forloop.counter|last_four:wss.non_keynote_seminars %}style="display: inline-block; float: none;"
                             {% endif %}>
                            {% render_human seminar.speaker subtitle=seminar.speaker.short_bio url=seminar.get_absolute_url %}
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                            {% if forloop.last %}{% else %}
                                </div>
                                <div class="row text-center mx-2" dir="rtl" style="direction: rtl!important;">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                <div class="row text-center">
                    <h3 class="section-sub-title title-white"
                        style="text-shadow: 0px 0px 5px gray; color: var(--main-yellow)">
                        دست‌اندرکاران</h3>
                </div>

                <div class="row text-center mx-2" dir="rtl">
                    {% for staffe in selected_staff %}
                        <div class="col-xs-12 col-sm-6 col-md-3"
                             {% if forloop.counter|last_four:selected_staff %}style="display: inline-block; float: none;"
                             {% endif %}>
                            {% render_human staffe %}
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                            {% if forloop.last %}{% else %}
                                </div>
                                <div class="row text-center mx-2" dir="rtl" style="direction: rtl!important;">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="general-btn text-center mt-5">
                <a class="btn btn-registration" href="{% url 'wss:staff-list' wss.year %}">دیدن تمام دست‌اندرکاران</a>
            </div>
        </div>

        </div>

        <!-- Content row 2 end -->
        <!--/ Container end -->
    </section>
    <!-- Speakers end -->

    <section class="venu-map no-padding ">
        <div class="container-fluid">
            <div style="margin-right: 0!important;margin-left: 0!important;" class="row ts-statics">
                <div class="col-md-6 ">
                    <div class="bottom-contact white">
                        <h4 class="white">Organizer info</h4>
                        <p>The event is held by <a href="https://t.me/rastaiha">Rasta Knowledge Spreading Group </a> and
                            the <a href="http://ssc.ce.sharif.edu">Student Scientific
                                Chapter (SSC)</a> of <a href="http://ce.sharif.edu">Computer Engineering Department</a>
                            of <a href="http://sharif.edu">Sharif University of Technology</a>
                        </p>
                        <br>
                        <h4 class="white">Venue Details</h4>
                        <div class="contact-info">
                            <div class="contact-info-box">
                                <i class="fa fa-map-marker">&nbsp;</i>
                                <div class="contact-info-box-content">
                                    <h5 class="white">Address: </h5>
                                    <p>Sharif University of Technology, Azadi Street, District 2, Tehran, Iran</p>
                                </div>
                            </div>
                            <div class="contact-info-box">
                                <i class="fa fa-envelope-o">&nbsp;</i>
                                <div class="contact-info-box-content">
                                    <h5 class="white">Email: </h5>
                                    <p>ssc@ce.sharif.edu</p>
                                </div>
                            </div>
                            <div class="contact-info-box">
                                <i class="fa fa-phone">&nbsp;</i>
                                <div class="contact-info-box-content">
                                    <h5 class="white">Phone: </h5>
                                    <p>+98(021) 66 16 57 81</p>
                                </div>
                            </div>
                        </div>
                        <!-- Contact info end -->
                    </div>
                    <!-- Contact form div end -->
                </div>
                <!-- Col end -->
                <div class="col-md-6">
                    <div id="map" class="map-bottom text-center  embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6479.848007952863!2d51.3476417!3d35.7034877!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00a8bc1a7e63%3A0x61a5a909b878501!2sSharif+University+of+Technology!5e0!3m2!1sen!2s!4v1564664895486!5m2!1sen!2s"
                                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!-- Google Map -->
                </div>
                <!-- Col end -->
            </div>
            <!-- Content row end -->
        </div>
        <!-- Container end -->
    </section>
    <!-- Map end -->
{% endblock %}
