{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}

{% block title %}{{ wss }} speakers{% endblock %}
{% block content %}
    <section id="ts-speakers" class="ts-speakers gradient-bg">
        <div class="container">
            <!--/ Title row end -->

            <div class="row text-center">
                <h3 class="section-sub-title title-white" style="text-shadow: 0px 0px 5px gray; color: var(--main-yellow)">
                    کارگاه‌ها</h3>
            </div>

            <div class="row text-center mx-2" dir="rtl">
                    {% for seminar in wss.non_keynote_seminars %}
                        <div class="col-xs-12 col-sm-6 col-md-3"
                             {% if forloop.counter|last_four:wss.non_keynote_seminars %}style="display: inline-block; float: none;"
                             {% endif %}>
                            {% render_human seminar.speaker subtitle=seminar.speaker.short_bio url=seminar.get_absolute_url %}
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                            {% if forloop.last %}{% else %}
                                </div>
                                <div class="row text-center mx-2" dir="rtl" style="direction: rtl!important;">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            <br>

{#            <div class="row text-center">#}
{#                <h3 class="section-sub-title title-white" style="text-shadow: 0px 0px 5px gray; color: var(--main-yellow)">#}
{#                    ارائه‌دهندگان</h3>#}
{#            </div>#}
{#            {% for seminar in wss.non_keynote_seminars %}#}
{#                <div class="col-xs-12 col-sm-6 col-md-3">#}
{#                    {% render_human seminar.speaker subtitle=seminar.speaker.short_bio url=seminar.get_absolute_url %}#}
{#                </div>#}
{#            {% endfor %}#}
        </div>

    </section>
    <!-- Speakers end -->
    <!-- Map end -->
{% endblock %}