{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}

{% block title %}{{ wss }} staff{% endblock %}
{% block content %}
   <section id="ts-speakers" class="ts-speakers">
      <div class="container">

         <!--/ Title row end -->
            {% for holding_team in wss.holding_teams.all %}
               <div class="row justify-content-center">
                 <div class="row text-center">
                   <h2 class="section-sub-title title">{{ holding_team.name }}</h2>
                 </div>
                    <div class="row text-center mx-2" dir="rtl">
                    {% for staff in holding_team.staff.all %}
                        <div class="col-xs-12 col-sm-6 col-md-3"
                             {% if forloop.counter|last_four:holding_team.staff.all %}style="display: inline-block; float: none;"
                             {% endif %}>
                            {% render_human staff %}
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                            {% if forloop.last %}{% else %}
                                </div>
                                <div class="row text-center mx-2" dir="rtl" style="direction: rtl!important;">
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>

               </div>
               <br><br>
            {% endfor %}

      <!-- Content row 2 end -->
      </div>
      <!--/ Container end -->
   </section>
{% endblock  %}