{% extends 'wssbase.html' %}
{% block content %}
    <section id="container" class="main-container fluid" style="height: 100vh!important;">
        <div class="container-fluid">
            <div class="text-center" style="direction: rtl">
                <div class="alert alert-success">
                    ثبت‌نام اولیهٔ شما با موفقیت انجام شد! <br>منتظر اعلام نتایج در کانال‌های تلگرامی مدرسه‌‌های <a href="https://t.me/CsssTeh" target="_blank" style="color: mediumvioletred">تهران</a> و <a href="
https://t.me/CsssEsf" target="_blank" style="color: mediumvioletred">اصفهان</a> باشید :)‌
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block style %}
    <style>
    {{ block.super }}
        .footer{
            position: absolute;
            bottom: 0;
        }
    </style>
{% endblock %}

{% block footer_menu_items %}
    <li><a href="{% url 'wss:home' wss.year %}">صفحهٔ اصلی</a>
    </li>

{% endblock %}